p-accordion {
  display: block;
  min-width: 200px;

  max-height: 70vh;
  overflow: auto;


  font-size: math;
}

.indented-list {
  padding-left: 1rem;
}

.accordion-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.card {
  width: 90%;
  margin-top: 2rem;
  margin-left: 1rem;
}
