<div class="details-card" *ngIf="item != null">
  <h2>Details</h2>
  <p>ID: {{ item.id }}</p>
  <p>Stationary Address: {{ item.stationaryAddress }}</p>
  <p>Object Address: {{ item.objectAddress }}</p>
  <p>IEC104 Data Type: {{ item.iec104DataType }}</p>
  <div class="flex align-items-center">
    <p>Simulation Mode: {{ item.mode }}</p>
    <button
      class="ml-2"
      pButton type="button"
      icon="{{item.mode === 'Cyclic' ? 'pi pi-stop' : 'pi pi-play-circle'}}"
      iconPos="left"
      (click)="toggleSimulationMode(item)"
    >
    </button>
  </div>
  <div class="flex align-items-center">
    <p>Value: {{ item.value }}</p>
    <p-button class="ml-2" *ngIf="item.iec104DataType === 'M_DP_NA_1' || item.iec104DataType === 'M_SP_NA_1'" label="Toggle value" (onClick)="toggleDoublePointValue(item)" />
  </div>
</div>
